# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.sdf
*.pdb
*.ilk
*.exe
*.obj
*.idb
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.vcxproj.user
*.opensdf
